@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');


body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
}

article{
  margin: auto;
  margin-top: 0%;
}

.btn{
  background-color:rgb(168, 110, 202);
  margin: 5px;
  color: #fff;
}

.btn:hover{
  background-color: rgb(104, 66, 126);
}


.banner{
    min-height: 100vh;
    width: 100%;
    background-image: url('./images/wallpaper-pluma.jpg');
    background-size: cover;
    position:absolute;
    z-index:1;
}

.banner:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:-1;
}

