{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='upload.css')}}" type="text/css">
{% endblock %}

{% block content %}

<body>
    <main class="d-flex flex-colum main-bg shadow">
        <div class="banner">
            <article class="col-md-8">
            <section>
                <form method="POST" id="form2" action="/edit_poema/{{poema.id}}">
                    <div class="card">
                        <div class="poem-title">
                            <div class="poemtitle">
                                <textarea class="form-control" type="poemtitle" name="titulo" placeholder="body">{{poema.titulo}}</textarea>
                            </div>
                            <div class="poembody">
                                <textarea class="form-control" name="body" rows="3" placeholder="body">{{poema.body}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div id="btn-post">
                        <button class="btn btn-primary btn-primary-outline-success" type="submit">ACEPTAR</button>
                    </div>
                </form>
                  
            </section>
        </article>
</body>
{% endblock %}