{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" type="text/css">
{% endblock %}

{% block content %}

        <main class="d-flex flex-colum main-bg shadow">
            <div class="banner">
                <article class="col-md-8">
                    {% for poema in poemas %}
                    <section>
                        <div class="card my-4 mx-4">
                            <div class="row">
                                
                                <div class="col-md-8">
                                    <div class="card-body">
                                        
                                        <h5 class="card-title">{{poema.titulo}}</h5>
                                        <p class="card-text">{{poema.body}}</p>
                                        <a class="card-text" href="{{url_for('main.profile',id=poema.usuario_id.id)}}"><small class="text-muted">{{poema.usuario_id.nombre}}</small></p>
                                        <a href="{{url_for('main.poema_view', id=poema.id)}}" class="btn btn-outline-dark btn-sm">Seguir leyendo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    {%endfor%}
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">... 33</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </article>
           
{% endblock %}