{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='home.css')}}" type="text/css">
{% endblock %}

{% block content %}
    <header class="banner">
        <nav class="menu">
            <div class="logo">
                <img src="{{url_for('static',filename='images/pluma-logo-blanco.png')}}">
                <h2>AUTHOR</h2>
            </div>
            
            <div class="menu-area">
                
                <ul>
                    <li><div class="search-box">
                        <button class="btn-search"><i class="fas fa-search"></i></button>
                        <input type="text" class="input-search" placeholder="buscar">
                    </div></li>
                    <li><a type="button" href="/">home</a></li>
                    <li><a type="button" href="/poema">Poema</a></li>
                    <li><a type="button" href="/upload_poema">Upload</a></li>
                    <li><a type="button" href="/login">Login</a></li>
                    <li><a type="button" href="/usuario">Perfil</a></li>
                </ul>
            </div>
            
        </nav>
    </header>
{% endblock %}