{% extends "base.html" %}

{% block head %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='login.css')}}" type="text/css">
{% endblock %}

{% block content %}

<body class="wallpaper">
    <main class="login animate__animated animate__backInLeft">
        <section>
            <div class="wrapper">
                <img src="{{url_for('static',filename='images/pluma-logo.png')}}" class="login__logo">
                <h1 class="logo__title">Author</h1>
                <div class="card">

                    <div class="card-body">
                        <form class="text-center" method="post" action="/login">

                            <h1 class="login__title">Inicio</h1>

                            <label class="login__label">
                                <input class="form-control" type="email" name="email" placeholder="Email" />
                            </label>

                            <label class="login__label">
                                <input class="form-control" type="password" name="password" placeholder="Password" />
                            </label>

                            <label>
                                <button class="btn btn-primary d-block w-100" type="submit"
                                    style="color:var(--bs-gray-700);background:rgb(234,200,202);border-style:none;">Login</button>
                            </label>
                        </form>
                    </div>
                </div>
            </div>


        </section>


    </main>

</div>
{% endblock %}