{% extends "base.html" %}

{% block head %}

{{ super() }}
<link rel="stylesheet" href="../static/perfil.css" type="text/css">
{% endblock %}

{% block content %}

<body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            <img src="../static/images/DSC_6652.jpg" alt="Anna Smith" />
            <span></span>
          </div>
          <h2>{{usuario.nombre}}</h2>
          <p>{{usuario.rol}}</p>
          <p>{{usuario.email}}</p>

          <div class="content">
            <p>
              descripcion del perfil 
              o
              historia del usuario 
            </p>

            <ul>
              <li><i class="fab fa-twitter"></i></li>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-dribbble"></i>
            </ul>
          </div>
        </div>
        <section>
          {% for poema in poemas %}
          <div class="card my-4 mx-4">
              <div class="row">
                  
                  <div class="col-md-8">
                      <div class="card-body">
                          
                          <h5 class="card-title">{{poema.titulo}}</h5>
                          <p class="card-text">{{poema.body}}</p>
                          <p class="card-text"><small class="text-muted">{{poema.usuario_id.nombre}}</small></p>
                          <div id="btn-delete">
                          <a class="btn btn-outline-dark btn-sm" href="{{url_for('main.delete_poema', id=poema.id)}}" >BORRAR</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          {%endfor%}
      </section>
      
      </div>
    </div>
  </body>
{% endblock %}

