{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='upload.css')}}" type="text/css">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- LOGO -->
        <a href="/" class="navbar-brand">
            <img src="{{url_for('static',filename='images/pluma-logo-blanco.png')}}"  class="navbar-logo" alt="logo-menu-navegacion">
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- subir poema -->
                <li >
                    <a class="navbtn" type="button" href="/upload_poema"><i class="fas fa-pen-nib"></i></a>
                </li>
                <!-- usuario -->
                <li>
                    <a class="navbtn" type="button" href="/usuario" ><i class="fas fa-user"></i></a>
                </li>
                <li>
                    <div class="search-box">
                    <button class="btn-search"><i class="fas fa-search"></i></button>
                    <input type="text" class="input-search" placeholder="buscar">
                </div>
            </li>
            </ul>
            <!-- Login & Registro -->
            <div class="d-flex">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Registrarse
                </button>
                <a type="buttom" href="/login" class="btn">
                    Iniciar sesión
                </a>
            </div>
        </div>
    </div>
</nav>
<body>
    <main class="d-flex flex-colum main-bg shadow">
        <div class="banner">

</body>
{% endblock %}